@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -16px;
}

.text-large {
  font-size: 4rem;
  font-family: 'Cinzel', serif;
}

.image-large {
  height: 400px;
  animation: rotate 15s linear infinite; /* Adjust duration and timing function as per your requirement */
  margin-bottom: 50px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-yes {
  background-color: #34d399;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  margin-right: 10px;
}

.button-no {
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .image-large {
    height: 300px;
  }
  .text-large {
    font-size: 150%;
  }
}